.btn {
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  transition: background 0.2s, color 0.2s;
  color: $black;
  text-align: center;

  &.small {
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 22px;
  }

  &.large {
    padding: 12px 24px;
  }

  &.light-blue {
    background: $light-blue;
    color: $pink;
  }

  &.gradient-pink {
    background: linear-gradient(96.76deg, #fdc043 14.9%, #e543e8 92.22%);
    color: #ffffff;
  }

  &.clean-white {
    background: transparent;
    color: #ffffff;
  }
}

.app-store-btn {
  width: 162px;
  height: 48px;
  display: block;
}
