.calendarWrapper {
  position: relative;
  .calenderBtn {
    border: 1px solid transparent;
    width: 23px;
    height: 23px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    &.active {
      border-color: #ffffff;
    }
  }
  img {
    cursor: pointer;
  }

  .datePreview {
    display: inline-flex;
    align-items: center;

    gap: 10px;
    margin-right: 20px;
    .arrow {
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        rgba(255, 255, 255, 0.09);
      width: 24px;
      height: 24px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }
    span {
      width: 150px;
      text-align: center;
    }
  }

  .calendar {
    &.preview {
      position: absolute;
      top: 40px;
      right: 0px;

      .rdrNextPrevButton {
        color: #eff2ff;
        background-color: transparent;

        i {
          border: solid #eff2ff;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
        }

        &.rdrPprevButton {
          i {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
          }
        }

        &.rdrNextButton {
          i {
            margin: 0;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }
        }
      }

      .rdrDay {
        &.rdrDayPassive {
          visibility: hidden;
        }

        span {
          color: #eff2ff;
          font-size: 14px;
        }
      }
    }

    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      rgba(255, 255, 255, 0.09);
    background-color: #1a2145;
    z-index: 100;
    border-radius: 8px;

    .rdrMonthAndYearPickers {
      color: #eff2ff;
      font-size: 14px;
      font-weight: 500;
      padding-top: 0;
    }
  }
}
