header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;

  &.desktop {
    padding: 20px 0;

    &.floating {
      background: $purple;
      padding: 20px 0;
      position: fixed;
      box-shadow: rgb(0 0 0 / 10%) 0px 8px 16px, rgb(0 0 0 / 10%) 0px -1px 0px;
    }

    .content {
      width: 100%;
      max-width: 1280px;
      height: 44px;
      @include flexbox($justify-content: space-between, $align-items: center);
      padding: 0 40px;

      .logo-link {
        min-width: 173px;
        width: 173px;
        height: 36px;
        display: block;
        background-image: url('../../public/logo.svg');
        background-position: center;
        background-size: cover;
      }

      .left-menu {
        margin-left: 140px;
        margin-right: auto;

        a {
          margin: 0 20px;
          padding-bottom: 2px;
          font-size: 18px;
          font-weight: 500;
          line-height: 26px;
          color: #ffffff;
          transition: color 0.3s;

          &:first-child {
            margin-left: 0;
          }

          &.active,
          &:hover {
            border-bottom: solid 1px white;
          }
        }
      }

      .right-menu {
        @include flexbox($justify-content: center, $align-items: center);

        a,
        button {
          margin: 0 15px;
          font-size: 18px;
          font-weight: 500;
          line-height: 26px;
          color: white;
        }

        .profile-block {
          @include flexbox($justify-content: flex-end, $align-items: center);

          .settings-btn {
            width: 20px;
            height: 20px;
            display: block;
            background-image: url('../../public/icons/settings.svg');
            background-repeat: no-repeat;
            background-size: cover;
          }

          .avatar {
            width: 36px;
            height: 36px;
            display: block;
            background-image: url('../../public/icons/user.svg');
            background-position: center;
            background-size: 20px 20px;
            background-color: $light-blue;
            background-repeat: no-repeat;
            margin: 0;
            border-radius: 18px;
          }

          .name {
            margin: 0 0 0 10px;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: white;
          }

          .logout-btn {
            background: linear-gradient(175deg, #4b466c, #1b2145);
            padding: 6px 12px;
            border-radius: 6px;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: white;
          }
        }
      }
    }
  }

  &.mobile {
    .logo-link {
    }

    nav {
      &.open {
        .burger-btn {
          position: fixed;

          .stripe {
            transform: rotate(45deg) translateY(-7px);

            &:last-child {
              transform: rotate(-45deg) translateY(-2.5px) translateX(2.5px);
            }
          }
        }

        .nav-block {
          opacity: 1;
          transform: none;
          transition: opacity 500ms cubic-bezier(0, 0.61, 0.28, 0.92);
          visibility: visible;
        }
      }

      .burger-btn {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 45px;
        right: 30px;
        z-index: 303;
        transition: all 500ms cubic-bezier(0, 0.61, 0.28, 0.92);
        transition-property: opacity, transform, visibility, filter;

        .stripe {
          width: 32px;
          background: $black;
          border-radius: 3px;
          height: 3px;
          transform: none;
          transform-origin: left;
          transition: transform 500ms cubic-bezier(0, 0.61, 0.28, 0.92);

          &:last-child {
            margin-top: 7px;
            transform-origin: center;
          }
        }
      }

      .nav-block {
        width: 100%;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
        left: 0;
        opacity: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        transition: opacity 500ms cubic-bezier(0, 0.61, 0.28, 0.92),
          visibility 0s 500ms, transform 0s 500ms;
        visibility: hidden;
        z-index: 301;
        padding: 120px 30px 0 30px;
      }
    }

    .top-menu {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        margin-top: 45px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
