$black: #18191f;
$brand-green: #62b766;
$light-green: #eff8f3;
$green: #3cb371;
$dark-gray: #515151;
$text-gray: rgb(139, 149, 158);
$red: #e74c3c;

$purple: #1a2145;
$dark-purple: rgba(0, 8, 47, 255);
$pink: #e545e7;
$light-blue: #eff2ff;
$yellow: #fcbe45;
$second-text: #9599b1;
