html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
fieldset,
form,
label,
article,
aside,
canvas,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
}
a,
img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: top;
  background: none;
  text-decoration: none;
  color: #ffffff;
}
a,
button,
input[type="submit"] {
  background: none;
  cursor: pointer;
}
form {
  box-sizing: border-box;
}
input,
select,
button,
textarea {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen";
  font-weight: 400;
  outline: none;
  border: 0;
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
article,
aside,
figcaption,
time,
figure,
picture,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
html,
body {
  background: $purple;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen";
  font-weight: 400;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
div {
  box-sizing: border-box;
}
