@mixin flexbox(
  $justify-content: space-between,
  $align-items: flex-start,
  $flex-wrap: wrap,
  $flex-direction: row
) {
  display: flex;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin pinkGradientText() {
  background: linear-gradient(180deg, #fdc043 0%, #e543e8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
