@mixin flexbox(
  $justify-content: space-between,
  $align-items: flex-start,
  $flex-wrap: wrap,
  $flex-direction: row
) {
  display: flex;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}
