.delete-user-modal {
  .radioBtns {
    margin-block: 10px;
    input {
      display: inline-block;
      margin-left: 25px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    label {
      cursor: pointer;
      color: black;
    }
  }
  .modal-layer .modal-content {
    padding: 0;
    border-radius: 7px;
    overflow: hidden;
    .data h1 {
      background-color: #1a2145;
      color: #ffffff;
      padding: 15px;
    }
    .data p:first-of-type {
      margin-top: 0;
    }
    .body {
      padding-inline: 20px;
    }
    .btns {
      margin-bottom: 15px;
      .btn {
        width: 40%;
      }
    }
  }
}
