.docs-page {
  width: 100%;
  max-width: 1280px;
  min-height: calc(100vh - #{$headerHeight});
  background-image: url("../public/images/illustration_lines.svg");
  background-repeat: no-repeat;
  background-position: bottom 25% right 0%;
  background-size: 40% auto;
  @include flexbox();
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 80px;
  position: relative;

  .sidebar-block {
    width: 300px;
    height: calc(100vh - #{$headerHeight} - 120px);
    @include flexbox(
      $justify-content: flex-start,
      $align-items: stretch,
      $flex-direction: column
    );
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top: $headerHeight;
    overflow-y: scroll;

    .title {
      font-size: 16px;
      line-height: 24px;
      color: white;
    }

    nav {
      @include flexbox($align-items: stretch, $flex-direction: column);

      a {
        min-width: 130px;
        background: linear-gradient(175deg, #4b466c, #1b2145);
        box-sizing: border-box;
        border-radius: 6px;
        margin-top: 15px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 22px;
        color: $second-text;
        text-align: left;

        &:hover,
        &.active {
          color: white;
        }
      }
    }
  }

  .content-block {
    width: calc(100% - 350px);

    h1,
    h2,
    h3,
    h4 {
      margin-top: 15px;
      font-weight: 500;
      color: white;
    }

    h1 {
      font-size: 28px;
      line-height: 36px;
    }

    h2 {
      font-size: 24px;
      line-height: 32px;
    }

    h3 {
      font-size: 20px;
      line-height: 28px;
    }

    h4 {
      font-size: 16px;
      line-height: 24px;
    }

    p {
      margin-top: 15px;
      font-size: 14px;
      line-height: 22px;
      color: white;
    }

    ul,
    ol {
      margin-top: 15px;
      margin-left: 15px;
      list-style-position: inside;
      font-size: 14px;
      line-height: 22px;
      color: white;
    }

    img {
      max-width: 100%;
    }

    pre {
      background: linear-gradient(175deg, #4b466c, #1b2145);
      padding: 15px;
      border-radius: 6px;
      position: relative;
      @include borderGradient();
    }
  }

  @media screen and (max-width: 767px) {
    .sidebar-block {
      width: 250px;
    }

    .content-block {
      width: calc(100% - 300px);
    }
  }

  @media screen and (max-width: 428px) {
    flex-direction: column;

    .sidebar-block {
      width: 100%;
      height: auto;
      position: relative;
      top: auto;
    }

    .content-block {
      width: 100%;
      margin-top: 40px;
    }
  }
}
