@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import "react-date-range/dist/styles.css"; // main style file
@import "react-date-range/dist/theme/default.css"; // theme css file

$headerHeight: 84px;
$footerHeight: 84px;

@import "colors";
@import "rest";
@import "mixins";
@import "default";
@import "blocks/buttons";
@import "blocks/header";
@import "blocks/modal";
@import "blocks/footer";
@import "blocks/calendar";
@import "blocks/dropdown";
@import "blocks/form";
@import "blocks/breadcrumb";
@import "component.deleteUserModal";
@import "page";
@import "page.landing";
@import "page.pricing";
@import "page.endpoints.add";
@import "page.endpoints";
@import "page.auth";
@import "page.settings";
@import "page.static";
@import "page.tiers.add";
@import "page.tiers.details";
@import "page.tiers.edit";
@import "page.tiers";
@import "page.users.details";
@import "page.users";
@import "page.error";
@import "page.analytics";

section {
  padding-top: $headerHeight;
}
