.tiers-page {
  @include flexbox($align-items: flex-start);

  .top-block {
    width: 100%;
    @include flexbox($justify-content: flex-end);
    margin-bottom: 30px;
  }

  .tiers-list-data {
    @include flexbox($justify-content: center, $align-items: stretch);

    .tiers-list-item {
      width: calc(25% - 40px);
      min-width: 260px;
      background-color: #ffffff;
      margin: 20px;
      padding: 25px 25px 75px 25px;
      border-radius: 5px;
      border: 1px solid #ffffff;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
      transition: all 0.3s;
      position: relative;

      &.active {
        border: 1px solid $green;
        transform: translateY(-15px);
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
      }

      .top-content {
        @include flexbox();

        .name {
          font-size: 16px;
          line-height: 24px;
          color: $black;
        }

        .delete-btn {
          width: 18px;
          height: 18px;
          background-image: url("../public/icons/trash.svg");
          background-size: cover;
          background-position: center;
        }
      }

      .bottom-content {
        margin-top: 25px;

        .price {
          text-align: right;
          font-size: 14px;
          line-height: 22px;
          color: $text-gray;
        }

        .quota {
          font-size: 14px;
          line-height: 22px;
          color: $black;
        }
      }

      .edit-btn {
        width: 16px;
        height: 16px;
        display: block;
        background-image: url("../public/icons/edit.svg");
        background-size: cover;
        background-position: center;
        position: absolute;
        bottom: 25px;
        right: 25px;
        filter: grayscale(100);

        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 428px) {
  }
}
