.landing-page {
  @include flexbox($flex-direction: column);

  .content {
    @include flexbox($justify-content: center, $align-items: stretch);
    position: relative;

    &:before {
      width: 100%;
      height: 400px;
      background-image: url("../public/images/landing/illustration_numbers.svg");
      background-repeat: no-repeat;
      background-position: top 0 left 0;
      background-size: auto 400px;
      position: absolute;
      top: 0;
      left: -100px;
      content: "";
    }
  }

  .block {
    width: 100%;

    &.main-block {
      @include flexbox($align-items: center);

      .content {
        min-height: calc(100vh - $headerHeight);
        background-image: url("../public/images/landing/illustration.svg");
        background-repeat: no-repeat;
        background-position: top 50% right 100px;
        background-size: auto 100%;
        @include flexbox($justify-content: flex-start, $align-items: center);
        padding: 60px 100px;

        .left-side {
          width: 100%;
          max-width: 600px;

          h1 {
            font-size: 48px;
            line-height: 58px;
            color: #ffffff;
          }

          .link {
            margin-top: 50px;

            a {
              background: linear-gradient(
                96.76deg,
                #fdc043 14.9%,
                #e543e8 92.22%
              );
              border-radius: 6px;
              padding: 9px 40px;
              font-size: 24px;
              font-weight: 600;
              line-height: 32px;
              color: white;
            }
          }
        }
      }
    }

    &.code-example-block {
      @include flexbox($align-items: center);

      .block-data {
        background: linear-gradient(175deg, #4b466c, #1b2145);
        @include flexbox($align-items: center);
        padding: 130px 90px 110px 90px;
        border-radius: 18px;
        position: relative;
        @include borderGradient();

        &:after {
          width: 55%;
          height: 35%;
          background: #21274b;
          border-radius: 10px;
          position: absolute;
          top: 70px;
          right: 70px;
          content: "";
          z-index: 1;
        }

        .sphere {
          width: 250px;
          height: 242px;
          background-image: url("../public/images/landing/illustration_sphere.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          position: absolute;
          top: -125px;
          left: -80px;
        }

        form {
          margin-top: 35px;

          .text {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: white;
          }

          .field {
            @include flexbox(
              $justify-content: space-between,
              $align-items: center
            );
            margin-top: 12px;

            input[type="text"] {
              width: calc(100% - 120px);
              background-color: transparent;
              padding: 8px 15px;
              border: solid 1px white;
              border-radius: 4px;
              font-size: 14px;
              line-height: 22px;
              color: white;

              &::placeholder {
                color: $light-blue;
              }
            }

            button {
              background: linear-gradient(
                96.76deg,
                #fdc043 14.9%,
                #e543e8 92.22%
              );
              padding: 8px 20px;
              border-radius: 3px;
              font-size: 16px;
              font-weight: 600;
              line-height: 24px;
              color: white;
            }
          }
        }
      }

      .left-side,
      .right-side {
        width: 50%;
        position: relative;
        z-index: 2;

        h2 {
          font-size: 36px;
          line-height: 42px;
          color: #ffffff;

          .yellow {
            color: $yellow;
          }
        }
      }
    }

    &.info-block {
      @include flexbox($align-items: center);

      .content {
        min-height: 80vh;
        position: relative;
      }

      .info-icon {
        width: 197px;
        height: 197px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &.creation {
          background-image: url("../public/images/landing/icon_creation.svg");
        }

        &.monetization {
          background-image: url("../public/images/landing/icon_monetization.svg");
        }

        &.management {
          background-image: url("../public/images/landing/icon_management.svg");
        }
      }

      .left-side,
      .right-side {
        width: 50%;
        position: relative;
        z-index: 2;

        h3 {
          @include pinkGradientText();
          font-size: 42px;
          line-height: 50px;
          text-align: left;
        }

        p {
          margin-top: 50px;
          font-size: 28px;
          line-height: 32px;
          color: #ffffff;
        }
      }
    }

    &.last-block {
      .content {
        min-height: 80vh;
        @include flexbox(
          $justify-content: center,
          $align-items: center,
          $flex-direction: column
        );
        padding: 110px 90px;
      }

      .text {
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
        color: white;
        text-align: center;
      }

      .link {
        margin-top: 50px;

        a {
          background: linear-gradient(96.76deg, #fdc043 14.9%, #e543e8 92.22%);
          border-radius: 6px;
          padding: 9px 40px;
          font-size: 24px;
          font-weight: 600;
          line-height: 32px;
          color: white;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 428px) {
  }
}

.square {
  width: 248px;
  height: 248px;
  background-color: $dark-blue;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 100px;
  content: "";
  z-index: 1;
  margin-top: -124px;

  .inner-square {
    width: 228px;
    height: 228px;
    background: linear-gradient(175deg, #4b466c, #1b2145);
    @include flexbox($justify-content: center, $align-items: center);
    border-radius: 18px;
    position: absolute;
    top: -30px;
    right: -30px;
    content: "";
    @include borderGradient();
  }

  &.on-the-right {
    left: auto;
    right: 100px;

    .inner-square {
      left: -30px;
      right: auto;
    }

    .circ1 {
      top: 0px;
      left: -80px;
      right: auto;
    }

    .circ2 {
      top: 100px;
      left: -140px;
      right: auto;
    }

    .circ3 {
      top: 300px;
      left: 70px;
      right: auto;
    }
  }

  .circ1,
  .circ2,
  .circ3 {
    border-radius: 50%;
    position: absolute;
  }

  .circ1 {
    width: 16px;
    height: 16px;
    background: #e545e7;
    top: 0px;
    right: -80px;
  }

  .circ2 {
    width: 32px;
    height: 32px;
    background: #512070;
    top: 100px;
    right: -140px;
  }

  .circ3 {
    width: 16px;
    height: 16px;
    background: #e545e7;
    top: 300px;
    right: 70px;
  }
}
