.endpoints-page {
  width: 100%;
  max-width: 1280px;
  min-height: calc(100vh - 124px);
  @include flexbox();
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 80px;
  position: relative;

  .sidebar-block {
    width: 300px;
    height: calc(100vh - #{$headerHeight});
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top: $headerHeight;
    overflow-y: scroll;

    .top-section {
      .add-endpoint-btn {
        width: 100%;
        background: linear-gradient(175deg, #4b466c, #1b2145);
        display: block;
        padding: 8px 20px;
        box-sizing: border-box;
        border: solid 1px $light-blue;
        border-radius: 6px;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        color: white;
        text-align: center;
      }

      .search-field {
        width: 100%;
        @include flexbox($justify-content: space-between, $align-items: center);
        margin-top: 25px;

        .inp-with-dropdown {
          width: calc(100% - 40px);
        }

        .filter-btn {
          width: 18px;
          height: 18px;
          background-image: url("../public/icons/filter.svg");
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }

    .bottom-section {
      margin-top: 25px;

      .title {
        font-size: 16px;
        line-height: 24px;
        color: white;
      }

      ul {
        list-style: none;

        li {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: 15px;

          .badge {
            margin-left: 10px;
            padding: 0px 5px;
            font-size: 12px;
            font-weight: 300;
            line-height: 20px;
            color: #ffffff;

            &.green {
              background-color: $green;
            }

            &.blue {
              background-color: #68bbe3;
            }

            &.red {
              background-color: #e43d40;
            }

            &.black {
              background-color: black;
            }

            &.yellow {
              background-color: orange;
            }
          }
        }
      }
    }
  }

  .content-block {
    width: calc(100% - 350px);

    .title {
      @include flexbox($justify-content: flex-start, $align-items: center);

      span {
        margin-right: 25px;
        font-size: 28px;
        line-height: 36px;
      }

      .edit-btn {
        width: 18px;
        height: 18px;
        background-image: url("../public/icons/edit.svg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 40px;
      margin-bottom: 20px;

      .info-part {
        width: 47%;

        .title {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 20px;

          .name {
            margin-right: 10px;
            font-size: 18px;
            line-height: 26px;
            color: white;
          }

          .badge {
            background: linear-gradient(175deg, #4b466c, #1b2145);
            margin-right: 10px;
            padding: 0px 10px;
            border: solid 1px $light-blue;
            border-radius: 10px;
            font-size: 12px;
            line-height: 18px;
            color: white;

            &.JSON {
              background: $purple;
            }
          }
        }

        .text {
          margin-bottom: 5px;
          font-size: 14px;
          line-height: 22px;
          color: $light-blue;
        }

        input[type="text"] {
          width: 100%;
          background: $purple;
          margin-top: 15px;
          padding: 10px 15px;
          word-wrap: break-word;
          white-space: nowrap;
          border: 1px solid #dadce0;
          border-radius: 12px;
          font-size: 14px;
          line-height: 22px;
          color: white;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .code-part {
        width: 47%;

        .code-block {
          margin-top: 20px;

          &:first-child {
            margin-top: 0;
          }

          .code-part-header {
            width: 100%;
            background: $light-blue;
            padding: 10px 12px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            font-size: 12px;
            line-height: 20px;
            color: $black;
            text-transform: uppercase;
          }

          .code-part-data {
            border: solid 1px $light-blue;
            border-top: 0;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;

            pre {
              margin: 0;
              padding: 0;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              font-size: 12px;
              line-height: 20px;
              color: $black;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;

    .sidebar-block {
      width: 250px;
    }

    .content-block {
      width: calc(100% - 300px);

      .block {
        flex-direction: column;

        .info-part,
        .code-part {
          width: 100%;
        }

        .code-part {
          margin-top: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 428px) {
    flex-direction: column;

    .sidebar-block {
      width: 100%;
      height: auto;
      position: relative;
      top: auto;
    }

    .content-block {
      width: 100%;
      margin-top: 40px;
    }
  }
}
