.landing-page {
  @include flexbox($flex-direction: column);

  .content {
    @include flexbox($justify-content: center, $align-items: stretch);
  }

  .block {
    width: 100%;

    &.main-block {
      min-height: calc(100vh - $headerHeight);
      @include flexbox($align-items: center);
      padding: 0 40px;

      .left-side,
      .right-side {
        width: 50%;

        h1 {
          font-size: 48px;
          line-height: 58px;
          color: #ffffff;
        }

        .link {
          margin-top: 40px;

          a {
            border-radius: 24px;
            padding: 9px 40px;
            font-size: 24px;
            line-height: 32px;
          }
        }
      }
    }

    &.code-example-block {
      @include flexbox($align-items: center);

      .block-data {
        background-color: $purple;
        background: linear-gradient(175deg, #4b466c, #1b2145);
        border-radius: 20px;
      }

      .left-side,
      .right-side {
        width: 50%;

        h2 {
          font-size: 36px;
          line-height: 42px;
          color: #ffffff;

          .yellow {
            color: $yellow;
          }
        }
      }
    }

    &.info-block {
      @include flexbox($align-items: center);

      .left-side,
      .right-side {
        width: 50%;

        h3 {
          @include pinkGradientText();
          font-size: 42px;
          line-height: 50px;
          text-align: center;
        }

        p {
          margin-top: 50px;
          font-size: 28px;
          font-size: 400;
          line-height: 32px;
          color: #ffffff;
        }
      }
    }

    &.last-block {
    }
  }

  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 428px) {
  }
}
