.page {
  width: 100%;
  min-height: calc(100vh - #{$headerHeight});
  background-color: #f3f4f5;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &.clean {
    background-color: transparent;

    &:before,
    &:after {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background: rgba(60, 179, 113, 0.1);
    width: 60vw;
    height: 60vw;
    left: -30vw;
    border-radius: 100%;
    top: -35vw;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    background: rgba(60, 179, 113, 0.1);
    width: 60vw;
    height: 60vw;
    right: -30vw;
    border-radius: 100%;
    bottom: -35vw;
    z-index: -1;
  }

  .content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 40px;
  }

  @media screen and (max-width: 428px) {
    min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});

    .content {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
