.page {
  width: 100%;
  min-height: calc(100vh - #{$headerHeight});
  @include flexbox($align-items: center);
  position: relative;
  z-index: 1;
  overflow: hidden;

  .content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 40px;
    position: relative;

    &.with-lines {
      background-image: url("../public/images/illustration_lines.svg");
      background-repeat: no-repeat;
      background-position: bottom 25% right 0%;
      background-size: 40% auto;
    }

    h1 {
      font-size: 24px;
      line-height: 32px;
      color: $dark-gray;
    }

    .bread-crumbs {
      width: 100%;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 24px;
      color: $second-text;

      a {
        color: $second-text;

        &.active {
          color: #ffffff;
        }
      }

      span {
        padding: 0 15px;
      }
    }

    .no-content {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: white;
    }
  }

  @media screen and (max-width: 428px) {
    min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});

    .content {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
