.users-details-page {
  .top-block {
    @include flexbox($justify-content: space-between, $align-items: center);

    h2 {
      font-size: 28px;
      font-weight: 500;
      line-height: 36px;
      color: #ffffff;
    }

    .user-context-menu {
      width: 18px;
      height: 18px;
      background-size: 3px 18px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../public/icons/menu.svg");
    }

    .dropdown {
      .edit-btn,
      .delete-btn {
        background-repeat: no-repeat;
        background-position: 0 50%;
        background-size: 16px 16px;
        display: block;
        margin: 7px 0;
        padding-left: 25px;
        font-size: 18px;
        line-height: 26px;
        color: $light-blue;
      }

      .edit-btn {
        background-image: url("../public/icons/edit.svg");
      }

      .delete-btn {
        background-image: url("../public/icons/delete.svg");
      }
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background: #2f3a71;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .content-block {
    h3 {
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      color: #ffffff;
    }

    .field {
      @include flexbox($justify-content: flex-start, $align-items: center);
      margin-top: 10px;

      .name {
        width: 200px;
        font-size: 14px;
        line-height: 22px;
        color: $second-text;
      }

      .value {
        font-size: 14px;
        line-height: 22px;
        color: color;
      }
    }
  }

  .copy-input {
    background-image: url("../public/icons/delete.svg");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: calc(100% - 10px) 50%;
    padding-right: 30px !important;
  }

  .react-select__control {
    width: 340px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 7px;
    color: #ffffff;
    padding: 0px 5px;
  }

  .react-select__single-value {
    color: #ffffff;
  }

  .react-select__menu {
    width: 340px;
    background-color: #1a2145;
    color: #ffffff;
    border: 1px solid #ffffff;
  }

  .react-select__option {
    border-radius: 4px;
    &--is-selected {
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        rgba(255, 255, 255, 0.09);
    }
  }

  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 428px) {
  }
}
