.settings-page {
  align-items: flex-start;
  .content {
    @include flexbox($justify-content: center, $align-items: stretch);
  }

  .tabs {
    @include flexbox($justify-content: flex-start);
    gap: 35px;
    width: 100%;
    list-style: none;
  }

  .tab {
    color: #9599b1;
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom-color: #9599b1;
    }
    &.active {
      color: #ffffff;
      border-bottom-color: #ffffff;
    }
  }

  .tab-content {
    width: 100%;
  }

  .block {
    padding-block: 30px;
    border-bottom: 1px solid;
    @include flexbox($justify-content: flex-start, $align-items: center);
    gap: 10px;
  }

  .link {
    text-decoration: underline;
  }

  .delete-btn {
    margin-inline-start: auto;
    margin-top: 20px;
    width: 30%;
  }

  .auth-types {
    width: 100%;
    input {
      display: inline-block;
      margin-left: 25px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    label {
      cursor: pointer;
    }
  }

  .badge {
    border-radius: 10px;
    padding: 2px 10px;
    &.success {
      color: $green;
      background-color: rgba($green, 0.19);
    }
    &.error {
      color: $red;
      background-color: rgba($red, 0.19);
    }
  }

  .btns {
    @include flexbox($justify-content: flex-end);
    margin-top: 20px;
    gap: 10px;
  }

  @media screen and (max-width: 767px) {
    .content {
      .block {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 428px) {
  }
}
