.settings-page {
  .content {
    @include flexbox($justify-content: center, $align-items: flex-start);
  }

  .tabs {
    @include flexbox($justify-content: flex-start, $align-items: flex-start);
    gap: 35px;
    width: 100%;
    list-style: none;

    .tab {
      color: #9599b1;
      cursor: pointer;
      padding: 5px;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom-color: #9599b1;
      }

      &.active {
        color: #ffffff;
        border-bottom-color: #ffffff;
      }
    }
  }

  .tab-content {
    width: 100%;
  }

  .block {
    padding-block: 30px;
    border-bottom: 1px solid #2f3a71;
    @include flexbox($justify-content: flex-start, $align-items: center);
    gap: 10px;

    .form {
      width: 100%;
      max-width: 350px;

      .field {
        margin-top: 0;
      }
    }
  }

  .auth-types {
    width: 100%;

    input {
      display: inline-block;
      margin-left: 25px;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    label {
      cursor: pointer;
    }
  }

  .btns {
    @include flexbox($justify-content: flex-end);
    margin-top: 20px;
    gap: 10px;
  }
}
