.users-page {
  align-items: flex-start;

  .header-block {
    @include flexbox($align-items: center);
    margin-bottom: 25px;

    h1 {
      margin-right: auto;
      font-size: 28px;
      font-weight: 500;
      line-height: 36px;
      color: white;
    }

    input[type='text'] {
      background-color: transparent;
      background-image: url(../public/icons/magnifier.svg);
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 10px 50%;
      padding: 7px 15px 7px 40px;
      border-radius: 6px;
      border: solid 1px $light-blue;
      font-size: 16px;
      line-height: 24px;
      color: white;

      &::placeholder {
        color: $text-gray;
      }
    }

    .add-user-btn {
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: 10px 50%;
      background-image: url('../public/icons/plus.svg');
      margin-left: 15px;
      padding: 6px 12px 6px 36px;
      border: solid 1px white;
      border-radius: 6px;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      color: white;
    }
  }

  .cards {
    @include flexbox();
    gap: 25px;
    margin-bottom: 25px;

    .card {
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        rgba(255, 255, 255, 0.09);
      text-align: center;
      flex: 1;
      padding-top: 30px;
      padding-bottom: 15px;
      position: relative;
      background-color: #1a2145;
      border-radius: 6px;

      &:before {
        content: '';
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        z-index: -1;
        border-radius: inherit;
        background: linear-gradient(96.76deg, #fdc043 14.9%, #e543e8 92.22%);
      }

      span {
        display: block;
      }

      span:last-of-type {
        font-size: 42px;
      }
    }
  }

  .users-list-header,
  .users-list-data {
    .col {
      &.with-long-text {
        overflow-x: hidden;
        position: relative;

        &:after {
          width: 50px;
          height: 100%;
          box-shadow: inset -50px 0 15px -15px $purple;
          position: absolute;
          top: 0;
          right: 0;
          content: '';
        }
      }

      &:nth-child(1) {
        width: 22%;
      }

      &:nth-child(2) {
        width: 24%;
      }

      &:nth-child(3) {
        width: 17%;
        text-transform: capitalize;
      }

      &:nth-child(4) {
        width: 15%;
      }

      &:nth-child(5) {
        width: 20%;
      }
    }
  }

  .users-list-header {
    width: 100%;
    background: linear-gradient(175deg, #4b466c, #1b2145);
    @include flexbox($justify-content: space-between, $align-items: center);
    padding: 16px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    .col {
      font-size: 18px;
      line-height: 26px;
      color: white;
    }
  }

  .users-list-data {
    width: 100%;

    .row {
      @include flexbox($justify-content: space-between, $align-items: center);
      margin-top: 12px;
      padding: 23px 16px;
      position: relative;

      &:before {
        width: 100%;
        height: 1px;
        background-color: #9ba8f6;
        position: absolute;
        top: -6px;
        left: 0;
        content: '';
      }

      &:first-child {
        margin-top: 6px;

        &:before {
          height: 0px;
        }
      }

      &:hover {
        background: $dark-blue;
        cursor: pointer;

        .col {
          &.with-long-text {
            &:after {
              box-shadow: inset -50px 0 15px -15px $dark-blue;
            }
          }
        }
      }

      .col {
        font-size: 16px;
        line-height: 24px;
        color: white;

        &:last-child {
          @include flexbox($align-items: center);

          .dropdown {
            .edit-btn,
            .generate-key-btn,
            .delete-btn {
              background-repeat: no-repeat;
              background-position: 0 50%;
              background-size: 16px 16px;
              display: block;
              margin: 7px 0;
              padding-left: 25px;
              font-size: 18px;
              line-height: 26px;
              color: $light-blue;
            }

            .edit-btn {
              background-image: url('../public/icons/edit.svg');
            }

            .generate-key-btn {
              background-image: url('../public/icons/refresh.svg');
            }

            .delete-btn {
              background-image: url('../public/icons/delete.svg');
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 428px) {
  }
}
